*target
target/
*.idea
*.settings
*.iml
*.classpath
*.project
*.mymetadata
*.zip
*.7z
bin/


#Intelij IDEA
*.iml
*.MF
*.class

bin
*.class

/my-distribute


/config
/logs
/deploy/logs
/deploy/config
allure-results/
mandarin/
*.log
mq_backup_db/
